Makefile
Makefile.*
release/
debug/
*.o
*.so.*
*.dll
*.lib
*.so
moc_*
*.moc
*.pro.user
*.orig
*.kdev4
.kdev*
.qmake.cache
.rcc
.pch

rep_*_prime.h
rep_*_source.h
rep_*_replica.h
/repc/repc
/include/
/lib/
/bin/
/examples/RemoteObjects/ClientApp/ClientApp
/examples/RemoteObjects/CppClient/CppClient
/examples/RemoteObjects/server/server
/mkspecs/modules-inst/
/mkspecs/modules/

