Makefile
Makefile.*
release/
debug/
.vscode/
*.o
*.so.*
*.dll
*.lib
*.so
*.dylib
moc_*
*.moc
*.pro.user
*.orig
*.kdev4
.kdev*
/.qmake.cache
/.qmake.stash
.rcc
.pch
*_wrapper.sh
*.app

*.autosave

rep_*_source.h
rep_*_merged.h
rep_*_replica.h
/repc/repc
/include/
/lib/
/bin/
/mkspecs/modules-inst/
/mkspecs/modules/

# test/example executables
/examples/RemoteObjects/ClientApp/ClientApp
/examples/RemoteObjects/CppClient/CppClient
/examples/RemoteObjects/server/server
/examples/RemoteObjects/ModelViewClient/ModelViewClient
/examples/RemoteObjects/SimpleSwitch/DirectConnectClient/DirectConnectClient
/examples/RemoteObjects/SimpleSwitch/DirectConnectDynamicClient/DirectConnectDynamicClient
/examples/RemoteObjects/SimpleSwitch/DirectConnectServer/DirectConnectServer
/examples/RemoteObjects/SimpleSwitch/RegistryConnectedClient/RegistryConnectedClient
/examples/RemoteObjects/SimpleSwitch/RegistryConnectedServer/RegistryConnectedServer
/tests/auto/benchmarks/tst_benchmarkstest
/tests/auto/integration_multiprocess/client/client
/tests/auto/integration_multiprocess/server/server
/tests/auto/integration_multiprocess/tst/tst_integration_multiprocess
/tests/auto/localsockettestserver/localsockettestserver
/tests/auto/modelreplica/tst_modelreplicatest
/tests/auto/repc/signature/differentClassEnum/differentClassEnum
/tests/auto/repc/signature/differentGlobalEnum/differentGlobalEnum
/tests/auto/repc/signature/differentPropertyCount/differentPropertyCount
/tests/auto/repc/signature/differentPropertyType/differentPropertyType
/tests/auto/repc/signature/differentSignalCount/differentSignalCount
/tests/auto/repc/signature/differentSignalParamCount/differentSignalParamCount
/tests/auto/repc/signature/differentSignalParamType/differentSignalParamType
/tests/auto/repc/signature/differentSlotCount/differentSlotCount
/tests/auto/repc/signature/differentSlotParamCount/differentSlotParamCount
/tests/auto/repc/signature/differentSlotParamType/differentSlotParamType
/tests/auto/repc/signature/differentSlotType/differentSlotType
/tests/auto/repc/signature/matchAndQuit/matchAndQuit
/tests/auto/repc/signature/scrambledProperties/scrambledProperties
/tests/auto/repc/signature/scrambledSignals/scrambledSignals
/tests/auto/repc/signature/scrambledSlots/scrambledSlots
/tests/auto/repc/signature/signatureServer/signatureServer
/tests/auto/repc/signature/signatureTests/tst_signature
/tests/auto/repc/signature/state/state

#REPC generated files
/tests/auto/repparser/rep_grammar.cpp
/tests/auto/repparser/rep_grammar_p.h
/tests/auto/repparser/repparser.cpp
/tests/auto/repparser/repparser.h
/tools/repc/rep_grammar.cpp
/tools/repc/rep_grammar_p.h
/tools/repc/repparser.cpp
/tools/repc/repparser.h

# Compiled QML/JS code
*.qmlc
*.jsc
