<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleExecutable</key>
        <string>${MACOSX_BUNDLE_EXECUTABLE_NAME}</string>
        <key>CFBundleIconFile</key>
        <string>${MACOSX_BUNDLE_ICON_FILE}</string>
        <key>CFBundleIdentifier</key>
        <string>${MACOSX_BUNDLE_GUI_IDENTIFIER}</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>LSMinimumSystemVersion</key>
        <string>${CMAKE_OSX_DEPLOYMENT_TARGET}</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSBluetoothAlwaysUsageDescription</key>
        <string>Qt RO Example wants to access your Bluetooth adapter</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
</dict>
</plist>
